<!DOCTYPE html>
<html lang="ko-kr">

<%- include('header-common') %>

<body>

<%- include('sidebar') %>
<!-- Wrap is the content to shift when toggling the sidebar. We wrap the
     content to avoid any CSS collisions with our real content. -->

<div id="open-sidebar"><i class="xi-align-justify" id="open-sidebar-btn"></i></div>

<div class="wrap">
  <div class="masthead">
    <div class="container">
      <h2 class="masthead-title">
        <a href="/" title="Home">모두의 코드</a><br>
        <small><%= file_info.title %></small>
      </h2>
    </div>
  </div>

  <div class="container content">
      <%- include(content_url) %>
  </div>
  <nav class="page-nav-btns">
    <% if (file_info.prev_page) { %> 
      <a class="prev-page-btn page-btn-common" href="<%= file_info.prev_page %>">
        <p><i class="xi-angle-left"></i>&nbsp이전 강좌</p>
        <% if (file_infos[file_info.prev_page].cat_name) { %>
        <p class="nav-page-title">
        <%= file_infos[file_info.prev_page].cat_name %></p>
        <% } else { %>
        <p class="nav-page-title">
        <%= file_infos[file_info.prev_page].title %></p>
        <% } %>
      </a>
    <% } %>
    <% if (file_info.next_page) { %> 
      <a class="next-page-btn page-btn-common" href="<%= file_info.next_page %>">
        <p>다음 강좌&nbsp<i class="xi-angle-right"></i></p>
        <% if (file_infos[file_info.next_page].cat_name) { %>
          <p class="nav-page-title">
          <%= file_infos[file_info.next_page].cat_name %></p>
        <% } else { %>
          <p class="nav-page-title">
          <%= file_infos[file_info.next_page].title %></p>
        <% } %>
      </a>
    <% } %>
  </nav>
  <div id="comment-box">
    <section id="comment-post-section">
      <div class="post-box">
        <div class="profile-pic">
          <% if (user) { %>
            <div id="username" class="small-comment font-bold">
              <%= user.name %>
            </div>
            <img src="<%= user.image %>">
          <% } else { %>
          <img src="/img/unknown_person.png" alt="프로필 사진 없음">
          <% } %>
        </div>
        <div class="text-area-wrapper">
          <textarea id="posted-comment" class="comment-textarea"></textarea>
          <div class="comment-helper">
            댓글에 마크 다운을 사용하실 수 있습니다 <i class="em em-smile"></i>
            <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
              마크 다운 문법 참고
            </a>
          </div>
        </div>
      </div>
      <div class="login-box">
        <% if (!user) { %>
        <div class="social-login">
          <div class="small-comment">다음으로 로그인 </div>
          <div>
            <i class="xi-facebook-official fb-login"></i>
            <i class="xi-google-plus goog-login"></i>
          </div>
        </div>
        <div class="manual">
          <div class="small-comment">
            또는 직접 입력하세요 (댓글 수정시 비밀번호가 필요합니다)
          </div>
          <input name="name" id="name" placeholder="이름">
          <input name="password" id="password" type="password" placeholder="비밀번호">
        </div>
        <% } %>
        <div id="adding-comment" class="sk-fading-circle">
          <div class="sk-circle1 sk-circle"></div>
          <div class="sk-circle2 sk-circle"></div>
          <div class="sk-circle3 sk-circle"></div>
          <div class="sk-circle4 sk-circle"></div>
          <div class="sk-circle5 sk-circle"></div>
          <div class="sk-circle6 sk-circle"></div>
          <div class="sk-circle7 sk-circle"></div>
          <div class="sk-circle8 sk-circle"></div>
          <div class="sk-circle9 sk-circle"></div>
          <div class="sk-circle10 sk-circle"></div>
          <div class="sk-circle11 sk-circle"></div>
          <div class="sk-circle12 sk-circle"></div>
        </div>
        <button id="post-comment" class="comment-btn">댓글 달기</button>
      </div>
    </section>
    <section id="comment-list-section">
      <ul id="root-comment-list" class="comment-list">
      </ul>
    </section>
    <div id="button-box">
      <button id="open-comment">댓글 더 보기</button>
    </div>
  </div>
</div>
<label for="sidebar-checkbox" class="sidebar-toggle"></label>

<script>
</script>
<script src="/js/page.js" defer></script>
</body>
</html>
